/* General styles */
body {
    background-color: #f8f9fa;
}

section {
    margin: 4rem 0;
}

section h2 {
    font-size: 2rem;
    color: #333;
}

li {
    margin: 0 0 2rem 0.5rem;
}

li span {
    text-decoration: underline;
}

/* Specific section styles */
.form {
    max-width: 25rem;
    padding: 1rem;
    margin: auto;
    background-color: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.checkbox {
    margin-top: 1rem;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 7rem;
    padding: 2rem 0;
    background-color: #343a40;
}

footer p a {
    color: #fff;
}

footer p a:hover {
    color: #fff;
    text-decoration: none;
}

/* Responsive table */
.table-responsive {
    overflow-x: auto;
}